.myTodosContainer {
  border: 1px solid gray;
  border-radius: 10px;
  width: 500px;
  margin: 25px auto;
}

.btn {
  border: 0;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}